include ../components/foo-component

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    .page-index
      p this is body hoge

    +foo-component
      .page-index__slotted slotted

    //- style
      :scoped:scss
        .page-index {
          color: red;
        }
